/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 15%;
    height: 750px;
}

/* Loader */
#loaderDiv {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid crimson;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 80%;
    border-left: none;
    height: 750px;
    display: none;
}

#addFiles {
    display: block;
}

/* ADD FILES */
.trActive {
    background-color: crimson;
}

.trDisabled {
    background-color: mediumaquamarine;
}

.deleteFile {
    background-color: crimson;
    height: 15px;
    width: 15px;
    font-size: 15px;
    display: inline;
}

#container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-column-gap: 5px;
    background-color: #BDBDBD;
    height: inherit;
}

#leftPane {
    grid-column-start: 1;
    grid-column-end: 1;
    /*background-color: #dddddd;*/
    background-color: white;
    height: inherit;
    overflow:auto;
}

#rightPane {
    grid-column-start: 2;
    grid-column-end: 2;
    /*background-color: #BDBDBD;*/
    background-color: white;
    height: inherit;
    overflow:auto;
}

.fixedDiv {
    position: fixed;
}

#lscpContainer {
    width: 100%;
    height: 100%;
}

/* PARALLEL COORDINATE */
.parcoords {
    display: block;
}

.parcoords svg,
.parcoords canvas {
    font: 10px sans-serif;
    position: absolute;
}

.parcoords canvas {
    opacity: 0.9;
    pointer-events: none;
}

.axis .title {
    font-size: 10px;
    transform: rotate(-21deg) translate(-5px,-6px);
    fill: #222;
}

.axis line,
.axis path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.axis .tick text {
    fill: #222;
    opacity: 0;
    pointer-events: none;
}

.axis.manufac_name .tick text,
.axis.food_group .tick text {
    opacity: 1;
}

.axis:hover line,
.axis:hover path,
.axis.active line,
.axis.active path {
    fill: none;
    stroke: #222;
    stroke-width: 1px;
}

.axis:hover .title {
    font-weight: bold;
}

.axis:hover .tick text {
    opacity: 1;
}

.axis.active .title {
    font-weight: bold;
}

.axis.active .tick text {
    opacity: 1;
    font-weight: bold;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    stroke-width: 1px;
}

pre {
    width: 100%;
    height: 300px;
    margin: 6px 12px;
    tab-size: 40;
    font-size: 10px;
    overflow: auto;
}

/* LINE CHART + SCATTER PLOT */

.firstAxis text {
    fill: hotpink;
    font-size: 12px;
    cursor: move;
}

.secondAxis text {
    fill: lime;
    font-size: 12px;
    cursor: move;
}

.firstLabel {
    fill: hotpink;
}

.secondLabel {
    fill: lime;
}

text {
    fill: black;
    font-size: 12px;
    cursor: move;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.brush .extent {
    stroke: black;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

circle {
    fill-opacity: 0.7;
}

.rectTime {
    fill-opacity: 0.5;
    fill: orange;
    stroke-opacity: 0.6;
    stroke-width: 2;
    stroke: darkorange;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.colored {
    fill: orange;
}

.uncolored {
    fill: grey;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav select {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: 15px;
    margin-bottom: 15px;
}

.sidenav button {
    margin-left: 15px;
    margin-bottom: 15px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}